body{
 margin: 0;
}
.Complete{
  display: flex;
  justify-content: right;
}

.SideBar{
  background-color: rgb(13, 13, 94);
  height: 100vh;
  box-shadow: 0px 0px 5px black;
  transition: width 0.4s ease-in-out;
  position: fixed;
  left: 0;
}
.SideBar.collapsed{
  width: 4%;
}
.SideBar.expanded
{
  width: 15%;
}
.Main{
  background-color: rgb(237, 237, 237);
  height: 100vh;
  width: 96%;
  transition: width 0.4s ease-in-out;
}
.Main.collapsed{
  width: 96%;
}
.Main.expanded{
  width:85%;
}
.Nav{
  height: 3rem;
  background-color: white;
  padding-left: 2%;
  padding-top: 1rem;
  display: flex;
}
.Nav h2{

  margin: 0;
}
.Nav h3{
  margin: 0;
  margin-top: 0.3rem;
  margin-left: 80%;
  margin-right: 1%;
}
.icons{
  margin-top: 1.5rem;
}
.SideBarButtons{
  margin-top: 2rem;
  margin-left: 0.8rem;
}
.expenso{
  
    margin-top: 0.8rem;
    margin-left: 0.9rem;
  
}
.sideButton{
  margin-top: 1rem;
  margin-left:11.8rem;
  
}
.sideButton1{
  margin-top: 1rem;
  margin-left:1.8rem;
}
.Dashboard{
  display: flex;
}
.Tag{
  margin-top: 0.5rem;
  display: flex;
}
 p{
  margin: 0;
  margin-top: 2.2rem;
  margin-left: 0.8rem;
  color: white;
  font-size: 1.4rem;
}
.Tag p{
  margin-top: 0.8rem;
}

svg:hover{
  cursor: pointer;
}





.graphs{
  display: flex;
}
.Monthly{
  margin: 2rem;
  background-color: white;
  height: 30rem;
  width: 50rem;
  border-radius: 1rem;
}
.Category{
    margin: 2rem;
    background-color: white;
    height: 30rem;
    width: 35rem;
    margin-left: 0;
    border-radius: 1rem;
}